.TableDiv {
    margin: 2em;
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
@media (max-width: 1450px) {
    .TableDiv{
      margin: 0;
      font-size: smaller;
      border: 0;
      padding: 0;
    }
  }

.TableDiv > div {
    margin: 1.5em;
}

.columnTitle {
    cursor: pointer;
}

.TableSerch {
    margin: 1em ;
    background-color: transparent;
    padding: 0.5em 1em; 
    border-radius: 1em;
    font-size: 1rem;
}

.paginateBlock {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
@media (max-width: 1450px) {
    .paginateBlock{
      flex-direction: column;
      margin: 0;
    }
  }

.paginate {
    align-self:flex-end ;
}
@media (max-width: 1450px) {
    .paginate{
        align-self: center;
    }
  }

.paginate button{
    margin: 0.13em;
}

.TableContener{
    margin: 0;
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 1rem;
}
@media (max-width: 1450px) {
    .TableContener{
      padding: 0em;
      margin: 0em;
      overflow-x: auto;
    }
  }

.TableThead {
    margin: 1em;
}

.columnTitle {
    border-left: 1px solid rgb(255, 255, 255); 
    border-radius: 1rem;
    padding: 0 1rem;
}

@media (max-width: 1450px) {
    .columnTitle{
      padding: 0;
    }
  }

th:first-child {
    border-left: none;
}

.Table {
    border-collapse: collapse;
    width: 100%;
    border-spacing:0 ;
}

.TableTheadTitle {
    display: flex;
    margin: 0;
    gap: 5px;
    justify-content: center;
}

.sizeSelect {
margin: 1em;
}

.block-right {
    display: flex;
}

th , td {
  min-width: 100px;
  min-height: 30px;
  padding: 8px;
}